body {
    background-image: url('./images/bg-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent to show background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 0;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005f73;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 40px);
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.task-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.task-time {
    font-size: 0.8em;
    color: #777;
    margin-left: 10px;
}

.action-buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #888;
}

.action-buttons button:hover {
    color: #333;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
}

.action-buttons img {
    width: 20px;  /* Adjust the size as needed */
    height: 20px;
}

.action-buttons button:hover img {
    filter: brightness(0.8);  /* Darkens the image on hover */
}
